# Get your Gemini API Key at https://aistudio.google.com/app/apikey
GEMINI_API_KEY=your_api_key_here

# OurGroceries Credentials
OUR_GROCERIES_EMAIL=your_email@example.com
OUR_GROCERIES_PASSWORD=your_password
